body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: aliceblue;
}

td {
    background-color: #312e2e;
    text-align: center;
    color: whitesmoke;
}

td:hover {
    cursor: pointer;
}

.AC {
    background-color: rgb(189, 77, 77);
}

.AC:hover {
    background-color: rgb(233, 8, 8);
}

.operator {
    background-color: rgb(114, 107, 107);
}

.operator:hover {
    background-color: rgba(7, 49, 26, 0.781);
}

.equals {
    background-color: blue;
}

.equals:hover {
    background-color: rgb(110, 110, 231);
}

.number:hover {
    background-color: teal;
}

textarea {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: right;
    width: 250px;
    height: 55px;
    font-weight: bolder;
    font-size: x-large;
    resize: none;
}

table {
    margin: 0 auto;
}

table {
    border: 1px solid black;
    font-size: 12pt;
    border-collapse: collapse;
}

table td {
    padding: 1.1em;
    border: 1px solid black;
}

.outputbox {
    padding: 0;
}